<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/header.css"/>
    <link rel="stylesheet" href="./css/window.css"/>
    <link rel="stylesheet" href="./css/form.css"/>
    <title>Document</title>
</head>
<body>
    {% set header_text = "Already have an account?" %}
    {% set header_link = "Log In" %}
    {% set header_url = "/signIn" %}
    {% include "header.html" %}
    {% set form_name = "registration" %}
    {% include form_name + ".html" %}
</body>
</html>